body {
    font-family: Arial, sans-serif;
    background-color: gray;
}

.comments {
    text-align: left;
    width: 400px;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: brown;
    font-weight: bolder;
    border-radius: 10px;
    
}

.comments *{
    display: block;
}

.comments label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#login-form *{
margin-top: 10px;
margin-bottom:5px ;
}

#login-form,
#form-comentario{
height: fit-content;
margin-top: 15px;
}

#form-comentario textarea, input {
    display: block;
    color: rgb(17, 35, 41);
    border-radius: 5px;
    border: 1px solid black;
}

#form-comentario .btn-submit{
    margin-top: 25px;
    padding: 10px;
    width: 100px;
}

#form-comentario form{
    margin: 10px auto 0px auto;
    padding: 10px auto 0px auto;
}

.date{
    font-size: 9px;
    text-align: right;
}

.col{
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.disabled{
    display: none;
}

.comments{
    transition: all 0.5s ease;
}

.comments-disable{
    opacity: 0;
    pointer-events: none;
}

.container-fluid{
    width: 500px !important;
    display: flex;
}